header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #faf9de;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

