.new-tweet {
  margin-top: 15px;
}

.container form {
  display: flex;
  flex-direction: column;

}

.button-container {
  display: flex;
  justify-content: space-between;
}

#new-button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color:#fff
}

#tweet-text {
  background-color: transparent;
  border: none;
  margin-top: 0.5em;
  border-bottom: 3px solid darkgrey;
  margin-bottom: 1em;
  outline:none;
}

.counter {
  font-family: 'Bungee';
  color: #000000;
}

.counter.negativeCounter {
  color: #ff0000;
}

.errmsg {
  width: 100%;
  text-align: center;
  color:red;
  font-size: 1.2em;
  font-weight: bold;
  border: 3px solid red;
  margin-bottom: 10px;
  display:none;
}