
.tweet {
  margin: 0 auto;
  border: 3px solid black;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
}

.tweet:hover {
  box-shadow: 10px 10px 10px;
}

article.tweet header {
  height: 120px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article.tweet p {
  border-bottom: 3px solid black;
  overflow-wrap: break-word;
  font-weight: 600;
  padding-bottom: 24px;
  margin-bottom: 12px;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

article.tweet footer div {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

article.tweet footer i {
  color: #4056A1;
}

article.tweet footer i:hover {
  color: #e9bd1d;
}
